.campodate {
    margin: 24px 0;
}

.campodate label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
}

.datacampo {
    background-color: #FFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.21);
    width: 100%;
    border: none;
    padding: 8px;
    box-sizing: border-box;
}

.ant-picker-input >input {
    font-size: 15px !important;
}

.ant-space{
    gap: 0px !important;
}