.Lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Lista table {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.13);
}

.Lista,table :is(thead, tbody, td, th, tr)
{
    padding: 30px 34px !important;
}

.Lista :is(thead){
    text-align: left;
    font-weight: 500;
    font-size: 18px;
}

.Lista :is(tbody){
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

.Lista,table,thead, tbody :is(td,th,tr)
{
    padding: 30px 34px !important;
}

.Lista :is(td,tr)
{
    border-bottom: 1px solid #ddd;
}

/* .Lista th,
.Lista tr,
.Lista td {
    text-align: left;
    font-weight: 500;
    font-size: 18px;
} */

.linhaEscura {
    background-color: #e1e1b0
}

/* PAGINAÇÃO */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 40px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #333;
    color: #fff;
}